<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="project-form">
        <h1 class="text-center">Edit <%= @product.name %></h1>
        <%= render 'form', product: @product %>
      </div>
    </div>
  </div>
</div>
