<div class="header">
  <div class="welcome-index text-center container">
    <h1>Your Results</h1>
  </div>
</div>
<div class="section-wrapper">
  <div class="results container">
    <div class="row padding-top">
      <% @products.each do |product| %>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <%= render 'card', product: product %>
        </div>
      <% end %>
    </div>
  </div>
</div>
